# Default ignored files
/shelf/
/workspace.xml

# Compiled class files
*.class

# Logs
*.log

# Build directories
target/
build/

# IntelliJ
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Gradle
.gradle/
build/

# Maven
.mvn/wrapper/maven-wrapper.jar

# Others
out/
